.git
.beads
.dolt
.next
node_modules
data
storage/media
coverage
dist
build
.cache
.env
.env.local
.env.development
.env.production
secrets
front
oldcode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
